#include <stdio.h> /*導入基本輸入輸出*/
 
int main() /*宣告整數主要函式*/
{
    /* 我的第一個 C 程序 */
    printf("Hello, World! \n"); /*列印Hello, World!*/
 
    return 0; /*退出*/
}
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#include <iostream> /*導入基本輸入輸出*/
using namespace std; /*宣告std*/
int main() /*不回傳質*/
{
    cout << "Hello, world!" << endl; /*列印*/
    return 0; /*退出*/
}
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
public class HelloWorld { /*創建一個類別*/
    public static void main(String[] args) { /*創建主要函式*/
        System.out.println("Hello World"); /*列印*/
    }
}
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#include<stdio.h> /*導入基本輸入輸出*/
 
int main()/*宣告整數函式*/
{
    int i,j,k; /*宣告整數變數i j k*/
    printf("\n"); /*斷行*/
    for(i=1;i<5;i++) { /*迴圈i=;i<;i++*/
        for(j=1;j<5;j++) { /*迴圈j=1;j<5;j++*/
            for (k=1;k<5;k++) { /*迴圈k=1;k<5;k++*/
            if (i!=k&&i!=j&&j!=k) { /*判斷i不能於k且i不能於j且j不能於k*/
                    printf("%d,%d,%d\n",i,j,k); /*列印*/
                }
            }
        }
    }
}
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#include <iostream>
using namespace std; /*宣告std*/
int main()/*宣告整數函式*/
{
    int i,j,k; /*宣告整數變數i j k*/
    printf("\n"); /*斷行*/
    for(i=1;i<5;i++) { /*迴圈i=;i<;i++*/
        for(j=1;j<5;j++) { /*迴圈j=1;j<5;j++*/
            for (k=1;k<5;k++) { /*迴圈k=1;k<5;k++*/
            if (i!=k&&i!=j&&j!=k) { /*判斷i不能於k且i不能於j且j不能於k*/
                    cout <<""<<i; /*列印*/
                    cout <<""<<j;/*列印*/
                    cout <<""<<k<<endl; /*列印<<斷行*/
					/*printf("%d,%d,%d\n",i,j,k); /*列印*/
                }
            }
        }
    }
}
